<!-- 
<div class="login">
    <div class="template_body">
        <div class="uname"> 
            <input type="text" placeholder="Enter Name" required>
        </div>
        <div class="password">
            <input type="text" placeholder="password" required>
        </div>
        <div class="btnn">
            <button type="submit">Login</button>
        </div>
    </div>
</div> -->
<div class="sign-in">
    <div class="login">
        <h1>Sign-In</h1>
         <div>
             Email or mobile phone number<br>
             <input type="text"><br>
             <button type="button" value="Continue">Continue</button><br>
             By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.
         </div>
    </div>
    <div class="New">
        <div class="na">New to Amazon?</div>
        <button type="button" value="Create">Create Your Amazon Account</button>
    </div>
</div>

