<!-- <div class="heading">
    <div class="heading_left">
        Shopping Cart
    </div>
</div>
<div class="main">
    <div class="products">
        <h1>Product title here</h1>
        <h2>Product price here</h2>
        <h3>In stock</h3>
        <button class="qty">Qty</button>
        <div class="qty_available">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
    </div>

    <div class="total_price">
        Total price
    </div>
</div> -->

<div class="body">
    <div class="status">
        <img src="https://m.media-amazon.com/images/G/01/cart/empty/kettle-desaturated._CB445243794_.svg">
        <h1>Your Amazon Cart is empty</h1>
        <div class="subtottal">
            Subtotal (0 items):
        </div>
        <div class="signin">
          <input type="button" value="Sign into your account" (click)= "signIn()" />
        </div>
        <div class="signup">
          <input type="button" value="SignUp" (click)= "signIn()" />
        </div>
    </div>
</div>
