<div class="footer">
    <div class="top_footer">
      <div class="top_footer_c1">
          <h2>Get to Know us</h2>
  <!--      <ul>
              <h4>Careers</h4>
              <h4>Blog</h4>
              <h4>About Amazon</h4>
              <h4>Investors Relations</h4>
              <h4>Amazon Devices</h4>
          </ul>
      </div>  
      <div class="top_footer_c2">
          <h2>Make money with us</h2>
          <ul>
              <h4>Sell products on Amazon</h4>
              <h4>Sell on Amazon Business</h4>
              <h4>Sell apps on Amazon</h4>
              <h4>Become an Affiliate</h4>
              <h4>Advertise Your Products</h4>
              <h4>Self-Publish with Us</h4>
          </ul>
      </div>
    </div>
    <div class="bottom_footer"></div>
</div>
-->  

    
